<!DOCTYPE html>
<html>
<head>
    <style>
        /* Estilos para el encabezado */
        body {
            width: 100%;
            text-align: center;
            font-size: 10px;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="row">
        <img src="C:\Users\USER\Documents\Ricardo\Sistema Web COMPRAS\pie_de_pagina_mejorado.png" alt="Pie">
        <!-- <p>Edificio, Palacio de Gobierno, calle Monagas,</p>
        <br>
        <p>Frente a la Plaza Bolivar, Estado Mongas</p> -->
    </div>
</body>
</html>

<style>
    .row{
        display: flex;
    }
</style>