.header {
    text-align: center;
    margin-bottom: 20px;
}

.header-img {
    max-width: 100%;
    height: auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    min-width: 400px;
}

.styled-table thead tr {
    background-color: #3f87a6;
    color: #ffffff;
    text-align: center;
}

.styled-table th, 
.styled-table td {

    padding: 12px 5px;
    border: 1px solid #ddd;
}

/* Ajustar ancho de columnas específicas */


.styled-table tbody tr {
    border-bottom: 1px solid #ddd;
    min-height: 40px; /* Ajusta el valor según tus necesidades */
}

.styled-table tbody tr:hover {
    background-color: #d3e2f4;
    cursor: pointer;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #3f87a6;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #3f87a6;
}
