* {
	
	box-sizing: border-box;
}

.titulo-vista {
    font-size: 35px;
    padding: 10px;
    color: #ffffff; /* Color gris oscuro elegante */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra elegante */
}


body{
	min-height: 100vh;
    display:flex;
	flex-direction: column;

}


.modal-dialog{
min-width: min-content;
}    

/* .fondo {    

   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    padding-top:70px; PADDING NECESARIO PARA QUE NO SE SUPERPONGA EL BODY
	background-image: url('../img/tijeras.jpg');
	box-sizing: border-box;
    position: relative; 
 
} */

.fondo {    
    background: linear-gradient(to bottom, #cbb3e0, #756278);
    min-height: 100vh;
    padding-top: 70px; 
    box-sizing: border-box;
    position: relative;   
}







/* .nav{
    background-color: white;
} */





/* Codigo para la pagina Gestion de Niños */
/* Codigo para el scroll vertical de la tabla Niños */

#input-buscar{

    width: 55%;
    margin-right: 1%;


}

#boton-buscar{

    width: 15%;

}

#boton-ingresar{

    width:25%;

}

.btn-success {min-width: max-content;}


/* .tablas{

    width: min-content;

} */



.my-custom-scrollbar {
    position: relative;
    height: 730px;
    overflow: auto;
    }

.table-wrapper-scroll-y {
    display: block;
}


/* Inicio del codigo CSS DE ARIANA */

.formulario {
    max-width: 500px; 
    display: flex;
}

.form-login{
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.32), 0px 5px 9px 4px rgba(0, 0, 0, 0.35), 0px 0px 0px -2px rgba(0, 0, 0, 0.2);
	margin-bottom:20px;
	max-width:500px;
}




.button-login {
	cursor: pointer;
	padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    color: #fff;
    display:block;
    border-radius: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    text-align: center;


    background-color: #4619CD;
    border: hidden;
    transition-duration: 0.1s;
    height: 40px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.32), 0px 4px 3px -2px rgba(0, 0, 0, 0.35), 0px 0px 0px -2px rgba(0, 0, 0, 0.2);


}

.button-login:hover{
    text-decoration: none;
    color: #fff;
    background-color: #3612a3;
}

/* Fin del codigo CSS DE ARIANA */

/* Codigo CSS para la pagina principal */

.contenedor-terapia{

padding: 20px;

border-radius: 10px;

background-color: rgb(230,230,230);

box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.32), 0px 5px 9px 4px rgba(0, 0, 0, 0.35), 0px 0px 0px -2px rgba(0, 0, 0, 0.2);

margin-bottom:20px;

margin:10px;

width: 30%;

justify-content: center;

align-items: center;
}

/* .principal {

    background-image: url("../img/ninos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    

    text-align: -webkit-center;
    
    margin: 1vh;
} */


.contenedor-terapia h4{

    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.image-container {
    max-width: 100%;
    text-align: center;
  }
  
.image-container img {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }
  

.contenedor-terapia p {

    text-align: justify;
    font-size: 20px;
    margin:10px;
}






.boton-principal{margin-bottom: 10px; /* Espacio opcional para separar el botón del contenido de la sección */margin-left: 10px; /* Espacio opcional para separar el botón del borde de la sección */}

.form-inline {
    max-width: 540px;
}



/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    margin-right: auto;
    margin-left: auto;
    text-align: -webkit-center;
} */


/* .container-parrafo {


    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
   */


  

/* CSS de la plantilla Factura */

/* Estilos para la sección del logo y título */

#logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilos para el logo */
  #logo {
    float: right;
    margin-left: 10px;
    max-width: 250px;
  }
  
  /* Estilos para el título */
#title {
   position: relative;
   display: inline-block;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;

}

#title::after {
   content: "";
   position: absolute;
   display: block;
   width: 100%;
   height: 2px;
   background-color: brown;
   bottom: -2px;
   left: 0;
}
  
  /* Estilos para el párrafo */
  #paragraph {
    margin: 0;
    font-size: 20px;
  }
  
  /* Estilos para el texto del RIF */
  #rif {
    margin: 0;
    font-size: 16px;
  }


.pie {


    position: absolute;

    width: 100%;
    height: 0px; /* ajustar la altura según sea necesario */
    margin-bottom:0px;
    text-align: center;

}

/* Codigo CSS para la crear facturas */

.form-factura{
	padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.32), 0px 5px 9px 4px rgba(0, 0, 0, 0.35), 0px 0px 0px -2px rgba(0, 0, 0, 0.2);
    margin-bottom:20px;
    width:500px;
}

.form-productos{
	padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.32), 0px 5px 9px 4px rgba(0, 0, 0, 0.35), 0px 0px 0px -2px rgba(0, 0, 0, 0.2);
    margin-bottom:20px;
    width:400px;
}

/* Clase para las filas insertadas dinámicamente */
.centrado {

    text-align: center;
      
}

/* Inicio del codigo CSS de ariana para Menu.html */



h1{
	margin: auto;
	font-weight: bold;
	
}

h2{
	margin-left: 26px;

}


aside{
	/* flex: 25px; */
	background-color: #5856DA;
	height: 800px;
}

section{
	/* flex: 70%; */
	padding: 20px;
}

.Usuario, .Salir{
	margin: 5px;
	height: 50px;
	padding: 4px;


}

.Usuario img, .Salir img{
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 5px;

}



.Cargo{
margin: 6px;
color: #fff;
}



.linea{
	margin: auto;
    width: 170px;
    background-color: #3d3c99;
    height: 2px;
}

.Salir{
	border: 2px solid;
	border-color: #3d3c99;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.32), 0px 4px 3px -2px rgba(0, 0, 0, 0.35), 0px 0px 0px -2px rgba(0, 0, 0, 0.2);

}


.main{
	border-radius: 5px;
	background-color: white;
	flex-wrap: wrap;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.32), 0px 5px 9px 4px rgba(0, 0, 0, 0.35), 0px 0px 0px -2px rgba(0, 0, 0, 0.2);
	margin: 20px;
	padding: 20px;
    text-align: -webkit-center;
}

.boton{
    margin: 10px; 
    border: hidden; 
    padding: 0; 
    width: 200px; 
    border-radius: 5px; 
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.32), 0px 4px 3px -2px rgba(0, 0, 0, 0.35), 0px 0px 0px -2px rgba(0, 0, 0, 0.2); 
    display: inline-block;
    text-align: left;
    font-size: 20px;
}

.boton:hover, .banner:hover{
	background-color: #403e9f;
    text-decoration:none;
    color: #fff;
}

.banner{
	color: #fff;
    display: inline-block;
	padding: 20px;
    width: 250px;
    height: 160px;
	background-color: #5856DA;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.32), 0px 4px 3px -2px rgba(0, 0, 0, 0.35), 0px 0px 0px -2px rgba(0, 0, 0, 0.2); 
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
}

.boton-nino{
    background-image: url("../img/nino-pequeno.png");
    background-size: 60%; /* Ajusta la imagen a un tamaño más pequeño */
    background-position: bottom right; /* Coloca la imagen en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.boton-representante{
    background-image: url("../img/representante.png");
    background-size: 45%; /* Ajusta la imagen a un tamaño más pequeño */
    background-position: bottom right; /* Coloca la imagen en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.boton-especialista{
    background-image: url("../img/especialista.png");
    background-size: 45%; /* Ajusta la imagen a un tamaño más pequeño */
    background-position: bottom right; /* Coloca la imagen en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.boton-especialista{
    background-image: url("../img/especialista.png");
    background-size: 45%; /* Ajusta la imagen a un tamaño más pequeño */
    background-position: bottom right; /* Coloca la imagen en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.boton-contadores{
    background-image: url("../img/administrador.png");
    background-size: 55%; /* Ajusta la imagen a un tamaño más pequeño */
    background-position: bottom right; /* Coloca la imagen en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.boton-secretarias{
    background-image: url("../img/secretaria.png");
    background-size: 55%; /* Ajusta la imagen a un tamaño más pequeño */
    background-position: bottom right; /* Coloca la imagen en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.boton-citas{
    background-image: url("../img/citas.png");
    background-size: 55%; /* Ajusta la imagen a un tamaño más pequeño */
    background-position: bottom right; /* Coloca la imagen en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.boton-facturas{
    background-image: url("../img/pagos.png");
    background-size: 55%; /* Ajusta la imagen a un tamaño más pequeño */
    background-position: bottom right; /* Coloca la imagen en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}



/* .gestionar{
	 font-weight: bold;
} */

footer{
	background-color: #2c2c2c;
	padding: 10px;
	color: white;

    bottom: 0;
    width: 100%;
	text-align: center;
	margin-top: auto;
}

/* Modal del header */

.modal-dialog-right {
    position: fixed;
    margin-right: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%; /* Puedes ajustar el valor según el ancho deseado */
}

@media screen and (max-width: 1025px){

	.contenedor-terapia {
		width: 100%;
	}
	
}

@media screen and (max-width: 768px){

	.titulo {
		font-size: 2em;
	}


	.container {
    min-width: 100%;
	}

	.form-login{
		width: 100%;
	}
}


@media screen and (max-width:  480px){

	.titulo {
		font-size: 1.5em;
	}



	.form-login {
		width:max-content
	}

}

/* Nuevo CSS 2.0 */
.modern-button {
    display: inline-block; /* Necesario para que <a> se comporte como un botón */
    text-decoration: none; /* Sin subrayado */
    background-color: rgb(106, 13, 173); /* Color púrpura */
    color: #ffffff; /* Letras blancas */
    font-family: 'Roboto', Arial, sans-serif; /* Tipografía bonita y legible */
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin:2px;
}

.modern-button:hover {
    background-color: #40097d;
    text-decoration: none; /* Sin subrayado */
    color: #ffffff; /* Letras blancas */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}







/* Botones del Sidebar del Menu */
.modern-button-menu {
    display: inline-block; /* Necesario para que <a> se comporte como un botón */
    text-decoration: none; /* Sin subrayado */
    background-color: rgb(88,86,218); /* Color púrpura */
    color: #ffffff; /* Letras blancas */
    font-family: 'Roboto', Arial, sans-serif; /* Tipografía bonita y legible */
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin:6px;
    width: 80%;
}

.modern-button-menu:hover {
    background-color: #40097d;
    text-decoration: none; /* Sin subrayado */
    color: #ffffff; /* Letras blancas */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}


/* PAGINA PRINCIPAL */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    /* margin: 1vh; */
    
    /* Fondo con la imagen */
    background-image: url("../img/principal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    /* background-color: rgba(27, 26, 26, 0.656); */
    background-blend-mode: overlay; /* Mezcla el color oscuro con la imagen */
}

/* Resto del CSS */
.titulo-contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:10%;
}

.titulo {
    margin: 0px 0px 20px 0px;
    padding: 1vh;
    color: white; /* Color de la letra en blanco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra del texto */
    font-size: 40px; /* Tamaño grande del título */
    text-align: center;
}

.eslogan-contenedor {
    display: flex;
    justify-content: center;
    width: 100%;

}

.eslogan {
    margin: 0;
    padding: 1vh;
    color: white; /* Color de la letra en blanco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra del texto */
    font-style: italic; /* Cursiva para el eslogan */
    font-size: 30px; /* Tamaño grande del título */
}

.conocenos {
    margin: 0px 0px 20px 0px;
    padding: 1vh;
    color: rgba(255, 255, 255, 0.859); /* Color de la letra en blanco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra del texto */
    font-size: 35px; /* Tamaño grande del título */
    text-align: center;
}

.textos-contenedor {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.texto-izquierda {
    width: 50%;
    padding: 1vh;
    color: rgba(0, 0, 0); /* Color de la letra en blanco */
    margin: 50px;
    font-size: 21px;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Agrega sombra */
    background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco sutil */
    background-clip: padding-box; /* Evita que el fondo se extienda fuera del padding */
    padding: 5px; /* Ajusta el padding según sea necesario */
}



.texto-derecha {
    /* logo */
    width: 30%;
    margin:40px;
    color: white; /* Color de la letra en blanco */
    background-image: url("../img/logo.png"); /* Fondo de la imagen para el texto de la derecha */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* Ajusta la imagen para cubrir todo el contenedor */
    background-blend-mode: overlay; /* Mezcla el color oscuro con la imagen */
    /* background-color: rgba(255, 255, 255, 0.225); */
}

/* Media query para teléfonos móviles */
@media (max-width: 768px) {
    .textos-contenedor {
        flex-direction: column-reverse;
        align-items: center;
    }

    .texto-izquierda, .texto-derecha {
        width: 100%;
        text-align: center;
        padding: 1vh;
    }

    .texto-derecha {
        height: 200px; /* Ajusta la altura para hacer la imagen más visible */
        background-size: contain; /* Asegura que la imagen se vea completa */
    }
}

/* Clase para los encabezados de las tablas */

.sortable {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .sortable:hover {
    background-color: rgb(206,228,255) !important; /* Cambia el color de fondo al pasar el ratón */
    color: #000 !important; /* Cambia el color del texto al pasar el ratón */
  }



  .table-responsive {
    max-height: 70vh; /* Define la altura máxima deseada */
    text-align: center;

}


/* fondo oscuro */
body.dark-mode, body.dark-mode .fondo {
    background: #121212; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
}

body.dark-mode .table {
    background-color: #1c1c1c; /* Fondo oscuro para la tabla */
    color: #ffffff; /* Texto claro para la tabla */
}

body.dark-mode .thead-light {
    background-color: #333333 !important; /* Fondo oscuro para thead con !important */
    color: #ffffff !important; /* Texto claro para thead con !important */
}

body.dark-mode .btn-dark-mode {
    background-color: #333333; /* Fondo oscuro para los botones */
    color: #ffffff; /* Texto claro para los botones */
}

