{% include 'header.html' %}

<div class="centered-form">
    <div class="form-container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-info">
            {{ messages[0] }}
          </div>
        {% endif %}
      {% endwith %}
        <form class="form-login" method="post" action="/agregar_cita" enctype="multipart/form-data"> 
        
        
            <!-- Esta linea de codigo sirve para saber primero si existe una cita o no hay una cita -->
            {% if cita %}
            {% if cita[3] == 'pendiente' %}

            <!-- Codigo para cuando sí haya una cita en proceso -->

                <input id="txtID" value="{{representante.id}}" class="form-control col-8" type="hidden" name="txtID">
                <input id="txtFecha" class="form-control col-8" type="hidden" name="txtFecha" required readonly>
                <input id="txtCedula" class="form-control col-7" type="hidden" name="txtCedula" pattern="[0-9\s]+" title="Sólo se permiten números" value="{{representante.cedula}}" required readonly>
                <input id="txtNombre" value="{{representante.nombre}}" class="form-control col-8" type="hidden" name="txtNombre" pattern="[a-zA-Z\s]+" title="Sólo se permiten caracteres" required readonly>
                <input id="txtApellido" value="{{representante.apellido}}" class="form-control col-8" type="hidden" name="txtApellido" required readonly>
                <input id="txtDireccion" value="{{representante.direccion}}" class="form-control col-8" type="hidden" name="txtDireccion" pattern="[a-zA-Z\s]+" readonly title="Sólo se permiten caracteres">
                <input  id="txtTelefono" value="{{representante.telefono}}" class="form-control col-8" type="hidden" name="txtTelefono" pattern="[0-9\s]+" title="Sólo se permiten números" required readonly>
                <input id="txtCorreo" value="{{representante.correo}}" class="form-control col-8" type="hidden" name="txtCorreo" placeholder="correo@ejemplo.com" readonly>
                
                <h1 class="h3 mb-3 fw-normal text-center">Solicitud en proceso</h1>
            
                <div>
                    <img id="logo" src="/static/img/esperar.png" alt="Cita en proceso" /> 
                </div>
            
                <p class="text-center" style="padding-top: 40px; font-size: 20px;">Ya posee una solicitud en proceso, por favor espere su aprobación.</p>
                <!-- <br><br><br><br> -->
                <div class="d-flex justify-content-center" style="padding-top: 45px;">
                    <!-- Botón Anular Cita -->
                    <button type="button" class="btn button-login w-100" style="background-color:brown; margin-right: 3px;" onclick="confirmAnularCita('{{ cita[0] }}')">
                        Anular Cita 
                        <!-- Icono de anulación -->
                        <i class="fas fa-times"></i>
                    </button>
                    <!-- Botón Cancelar -->
                    <a class="btn button-login w-100" style="background-color: green;" href="/menu">
                        Volver
                        <!-- Icono de cancelar -->
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </div>        
            </form>
            {% endif %}


            {% else %}
                <!-- Codigo para cuando NO haya una cita registrada -->

                <h1 class="h3 mb-3 fw-normal text-center">Agendar Cita</h1>

                <div class="row" style="margin-bottom: 10px;">

                    <input id="txtID" value="{{representante.id}}" class="form-control col-8" type="hidden" name="txtID">
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <label for="floatingInput" class="col-3">Solicitud</label>
                    <input id="txtFecha" class="form-control col-8" type="date" name="txtFecha" required readonly>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <label for="floatingInput" class="col-3">Cédula</label>
                    <input id="txtCedula" class="form-control col-8" type="text" name="txtCedula" pattern="[0-9\s]+" title="Sólo se permiten números" value="{{representante.cedula}}" required readonly>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <label for="floatingInput" class="col-3">Nombre</label>
                    <input id="txtNombre" value="{{representante.nombre}}" class="form-control col-8" type="text" name="txtNombre" pattern="[a-zA-Z\s]+" title="Sólo se permiten caracteres" required readonly>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <label for="floatingInput" class="col-3">Apellido</label>
                    <input id="txtApellido" value="{{representante.apellido}}" class="form-control col-8" type="text" name="txtApellido" required readonly>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <label for="floatingInput" class="col-3">Dirección</label>
                    <input id="txtDireccion" value="{{representante.direccion}}" class="form-control col-8" type="text" name="txtDireccion" pattern="[a-zA-Z\s]+" readonly title="Sólo se permiten caracteres">
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <label for="floatingInput" class="col-3">Teléfono</label>
                    <input  id="txtTelefono" value="{{representante.telefono}}" class="form-control col-8" type="text" name="txtTelefono" pattern="[0-9\s]+" title="Sólo se permiten números" required readonly>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <label for="txtCorreo" class="col-3">Correo</label>
                    <input id="txtCorreo" value="{{representante.correo}}" class="form-control col-8" type="email" name="txtCorreo" placeholder="correo@ejemplo.com" readonly>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <label for="floatingInput" class="col-3">Fecha</label>
                    <input id="txtFechaCita" class="form-control col-8" type="date" name="txtFechaCita" required>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <label for="floatingInput" class="col-3">Hora</label>
                    <select id="txtHora" class="form-control col-8" name="txtHora" required>
                      <option value="9:00 am">9:00 am</option> 
                      <option value="9:30 am">9:30 am</option> 
                      <option value="10:00 am">10:00 am</option>
                      <option value="10:30 am">10:30 am</option>
                      <option value="11:00 am">11:00 am</option>
                      <option value="11:30 am">11:30 am</option>
                      <option value="12:00 pm">12:00 pm</option>
                      <option value="12:30 pm">12:30 pm</option>
                      <option value="1:00 pm">1:00 pm</option>
                      <option value="1:30 pm">1:30 pm</option>
                      <option value="2:00 pm">2:00 pm</option>
                      <option value="2:30 pm">2:30 pm</option>
                      <option value="3:00 pm">3:00 pm</option>
                      <option value="3:30 pm">3:30 pm</option>
                      <option value="4:00 pm">4:00 pm</option>
                      <option value="4:30 pm">4:30 pm</option>
                      <option value="5:00 pm">5:00 pm</option>    
                    </select>
                  </div>

                <button type="submit" class="btn button-login w-100" style="background-color:green; margin-bottom:6px; margin-top:15px;">Registrar Cita</button>
                <a class="btn button-login w-100" style="background-color: brown;" href="/menu">Cancelar</a> 
            

            {% endif %}


            <!-- Esta linea de codigo sirve para saber primero si existe una cita o no hay una cita -->
            {% if cita %}
            {% if cita[3] == 'aprobado' %}

            <!-- Codigo para cuando la cita este APROBADA por el Director -->

                <h1 class="h3 mb-3 fw-normal text-center">¡Su cita ha sido aprobada!</h1>

                <div class="text-center">
                    <img src="/static/img/cita_aprobada.png" alt="">
                </div>

                <p class="text-center">Por favor, diríjase al Centro de Atención en la fecha y hora indicados a continuación: </p>

                <div class="row" style="margin-bottom: 10px;">
                    <label for="floatingInput" class="col-3">Fecha</label>
                    <input id="txtFecha" class="form-control col-8" type="date" name="txtFecha" required readonly>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <label for="floatingInput" class="col-3">Hora</label>
                    <input id="txtFecha" class="form-control col-8" type="text" name="txtHora" value="{{cita[5]}}" required readonly>
                </div>

                <a class="btn button-login w-100" href="/menu" style="background-color:green; margin-bottom:6px; margin-top:15px;">Volver</a>
                <a class="btn button-login w-100" style="background-color: brown;" href="/eliminar_cita/{{cita[0]}}" onclick="return confirm('¿Desea borrar el registro?')">Anular Cita</a>

            </form>
            {% endif %}
            {% endif %}

        </form>
    </div>
</div>

<script>

    // Codigo para que el input fecha salga con la fecha actual
    var campoFecha = document.getElementById("txtFecha");
    var campoFechaCita = document.getElementById("txtFechaCita")


    // Obtener la fecha actual en el formato YYYY-MM-DD
    var fechaActual = new Date().toISOString().slice(0, 10);
    const today = new Date();
    const maxDate = new Date(today);
    

    // Asignar la fecha actual al campo de fecha
    campoFecha.value = fechaActual;
    campoFechaCita.value = fechaActual;
    maxDate.setMonth(today.getMonth() + 3); // Sumar 3 meses


    // Formatear la fecha máxima en formato YYYY-MM-DD
    const maxDateFormatted = maxDate.toISOString().split('T')[0];
    
    document.getElementById('txtFechaCita').setAttribute('min', fechaActual);
    document.getElementById('txtFechaCita').setAttribute('max', maxDateFormatted);




    function confirmAnularCita(citaId) {
        Swal.fire({
            title: '¿Desea cancelar su cita?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, borrar',
            cancelButtonText: 'Cancelar',
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/eliminar_cita/${citaId}`;
            }
        });
    }

</script>

<style>
    .centered-form {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      padding: 20px;
    }
    .form-container {
      width: 100%;
      max-width: 500px;
    }
    .btn-with-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn-with-icon i {
      margin-left: 5px;
    }
  </style>

{% include 'footer.html' %}
