{% include 'header.html' %}



<div class="formulario" style="width: auto;
display: flex;">

  
  <input type="text" id="searchInput" title="Type in a name" placeholder="Buscar citas..." required class="form-control ml-auto">
  <button onclick="searchTable()"  class="btn btn-info">Buscar</button>

</div>

{% include 'buscar.html' %}
        


        <!-- <br> -->
        
 <div  id="myTable" >
            <table id="tabla_rep" class="table-wrapper-scroll-y my-custom-scrollbar table table-light tablas
            border border-secondary rounded" style="margin:10px;"
            cellspacing="0" >
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Solicitud</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th class="w-100">Acciones</th>

                    </tr>
                </thead>
                <tbody>

                    {% for citas in citas %}
                    
                    <tr>
                        <!-- ID Cita -->
                        <td>{{citas[0] }}</td>
                        <!-- cedula -->
                        <td>{{citas[9] }}</td>
                        <!-- nombre -->
                        <td>{{citas[7] }}</td>
                        <!-- apellido -->
                        <td>{{citas[8] }}</td>
                        <!-- fecha -->
                        <td>{{citas[3] }}</td>
                        <!-- estado -->
                        <td>{{citas[4] }}</td>
                        <!-- Fecha -->
                        <td>{{citas[5] }}</td>
                        <!-- Hora -->
                        <td>{{citas[6] }}</td>



                        <td>
                            <div class="btn-group col">
                                <a class="btn btn-success" href="#" data-toggle="modal" data-target="#myModal{{citas[0]}}">Ver</a>
                                <a class="btn btn-danger" href="/eliminar_cita/{{citas[0]}}" onclick="return confirm('¿Desea borrar el registro?')">Eliminar</a>
                   
                            </div>           
                        </td>

                    </tr>
                    
                    {% endfor %}

                
                </tbody>



            </table>

           </div>  


            <!-- Codigo para mostrar el modal con los datos del citas -->

            {% for citas in citas %}


            <div class="modal fade" id="myModal{{citas[0]}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Cita</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">

                    <form id="formCita" class="" method="post" action="/actualizar_cita" enctype="multipart/form-data">

                      <div class="row" style="margin-bottom: 10px;">
                        <!-- <label for="floatingInput" class="col-3">IdNino</label> -->
                        <input id="txtId" class="form-control col-8" type="hidden" name="txtId" value="{{citas[0]}}" readonly>
                      </div>

                      <div class="row" style="margin-bottom: 10px;">
                        <label for="floatingInput" class="col-3">Solicitud</label>
                        <input id="txtFecha" class="form-control col-8" name="txtFecha" value = {{citas[3]}} readonly>
                      </div>


        
                      <div class="row" style="margin-bottom: 10px;">
                        <label for="floatingInput" class="col-3">Cédula</label>
                        <input id="txtCedula" class="form-control col-8" name="txtCedula" value = {{citas[9]}} readonly>
                      </div>

                      <div class="row" style="margin-bottom: 10px;">
                        <label for="floatingInput" class="col-3">Nombre</label>
                        <input id="txtNombre" class="form-control col-8" name="txtNombre" value = {{citas[7]}} readonly>
                      </div>
        
                      <div class="row" style="margin-bottom: 10px;">
                        <label for="floatingInput" class="col-3">Apellido</label>
                        <input id="txtApellido" class="form-control col-8" name="txtApellido" value = {{citas[8]}} readonly>
                      </div>

        
                      <div class="row" style="margin-bottom: 10px;">
                        <label for="floatingInput" class="col-3">Telefono</label>
                        <input id="txtTelefono" class="form-control col-8" name="txtTelefono" value = {{citas[10]}} readonly>
                      </div> 
        
                      <div class="row" style="margin-bottom: 10px;">
                        <label for="floatingInput" class="col-3">Estado</label>
                        <input id="txtEstado" class="form-control col-8" name="txtEstado" value = {{citas[4]}} readonly>
                      </div>

                      <div class="row" style="margin-bottom: 10px;">
                        <label for="floatingInput" class="col-3">Nueva Fecha</label>
                        <input id="txtNuevaFecha" class="form-control col-8" name="txtNuevaFecha" type="date">
                      </div> 
        
                      <div class="row" style="margin-bottom: 10px;">
                        <label for="floatingInput" class="col-3">Hora</label>
                        <select id="txtHora" class="form-control col-8" name="txtHora" required>
        
                          <option value="9:00 am">9:00 am</option> 
                          <option value="9:30 am">9:30 am</option> 
                          <option value="10:00 am">10:00 am</option>
                          <option value="10:30 am">10:30 am</option>
                          <option value="11:00 am">11:00 am</option>
                          <option value="11:30 am">11:30 am</option>
                          <option value="12:00 pm">12:00 pm</option>
                          <option value="12:30 pm">12:30 pm</option>
                          <option value="1:00 pm">1:00 pm</option>
                          <option value="1:30 pm">1:30 pm</option>
                          <option value="2:00 pm">2:00 pm</option>
                          <option value="2:30 pm">2:30 pm</option>
                          <option value="3:00 pm">3:00 pm</option>
                          <option value="3:30 pm">3:30 pm</option>
                          <option value="4:00 pm">4:00 pm</option>
                          <option value="4:30 pm">4:30 pm</option>
                          <option value="5:00 pm">5:00 pm</option>
        
                        </select>
                      </div>

                      <button type="submit" id="btnAprobar" class="btn btn-primary">Modificar</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                    </form>

                  </div>

                  <div class="modal-footer">

                  </div>
                </div>
              </div>
            </div>
            
            {% endfor %}
        




  



    
        







    
    </div>

  <script>

    // Codigo para que el input fecha salga con la fecha actual
    var campoFecha = document.getElementById("txtNuevaFecha");

    // Obtener la fecha actual en el formato YYYY-MM-DD
    var fechaActual = new Date().toISOString().slice(0, 10);

    // Asignar la fecha actual al campo de fecha
    campoFecha.value = fechaActual;

    // Codigo para que el input fecha salga con la fecha actual 
    var campoFecha = document.getElementById("txtNuevaFecha");

    // // Obtener el estado de la cita
    // var estadoCita = document.getElementById("txtEstado").value;
  
    // // Obtener el botón de Aprobar
    // var btnAprobar = document.getElementById("btnAprobar");
  
    // // Si el estado de la cita es APROBADO, deshabilitar el botón
    // if (estadoCita === "aprobado") {
    //   btnAprobar.disabled = true;
    // }

  </script>







{% include 'footer.html' %}