{% include 'header.html' %}

{% for nino in ninos %}
    <form class="form-login m-auto" method="post" action="/agregar_avance" enctype="multipart/form-data">
        <h1 class="h3 mb-3 fw-normal text-center">Registrar Avance</h1>


            <input id="txtID" value={{nino[0]}} class="form-control col-8" type="hidden" name="txtID" pattern="[a-zA-Z\s]+" title="Sólo se permiten caracteres" required>



        <div class="row" style="margin-bottom: 10px;">
            <label for="floatingInput" class="col-3">Nombre</label>
            <input id="txtNombre" value={{nino[2]}} class="form-control col-8" type="text" name="txtNombre" pattern="[a-zA-Z\s]+" title="Sólo se permiten caracteres" required readonly>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <label for="floatingInput" class="col-3">Apellido</label>
            <input id="txtApellido" value={{nino[3]}}  class="form-control col-8" type="text" name="txtApellido" required readonly>
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <label for="txtFecha_In" class="col-3">Fecha de Inicio</label>
            <input id="txtFecha_In"  class="form-control col-8" type="date" name="txtFecha_In" required>
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <label for="txtFecha_Fin" class="col-3">Fecha de Fin</label>
            <input id="txtFecha_Fin"  class="form-control col-8" type="date" name="txtFecha_Fin" required>
        </div>

        <div class="row" style="margin-bottom: 10px;"> 
            <label for="txtObjetivo" class="col-3">Objetivo</label> 
            <input id="txtObjetivo" class="form-control col-8" type="text" name="txtObjetivo" required> 
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <label for="txtResultado" class="col-3">Resultado</label>
            <input id="txtResultado" class="form-control col-8" type="text" name="txtResultado" required>
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <label for="floatingInput" class="col-3">Observación</label>
            <input id="txtObservacion"  class="form-control col-8" type="text" name="txtObservacion" required> 
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <label for="txtRecomendacion" class="col-3">Recomendación</label>
            <input id="txtRecomendacion" class="form-control col-8" type="text" name="txtRecomendacion" required>
        </div>

        <!-- <input type="hidden" value="{{ nino[0] }}" name="txtID" id="txtID"> -->


        

        <button type="submit" class="btn button-login w-100" style="background-color:green; margin-bottom:6px; margin-top:15px;">Registrar</button>
        <button class="btn button-login w-100" style="background-color: brown;" onclick="goBack()">Cancelar</button> 
    </form>

    

    

{% endfor %}
{% include 'footer.html' %}