{% include 'header.html' %}




{% for usuario in usuarios %}

<form class="form-login m-auto" method="post" action="/update_password" enctype="multipart/form-data" onsubmit="return validateForm()">

    <!-- Este input oculto contiene el tipo de usuario para que sirva el boton Modificar -->
    <input type="hidden" value="{{current_user.id}}" name="txtID" id="txtID">

    <form class="form-login">

        <h1 class="h3 mb-3 fw-normal text-center">Editar Contraseña</h1>

        <!-- <div class="row mb-3">
            <label for="txtPassword" class="col-12 col-md-3">Contraseña Actual</label>
            <input id="txtOldPassword" class="form-control col-12 col-md-9" type="password" name="txtOldPassword" minlength="8" required>    
        </div>  -->
        
        <div class="row mb-3">
            <label for="txtPassword" class="col-12 col-md-3">Contraseña nueva</label>
            <input id="txtPassword" class="form-control col-12 col-md-9" type="password" name="txtPassword" minlength="8" required>    
        </div>       
        
        <div class="row mb-3">
            <label for="txtPassword2" class="col-12 col-md-3">Confirmar Contraseña</label>
            <input id="txtPassword2" class="form-control col-12 col-md-9" type="password" name="txtPassword2" minlength="8" required>    
        </div>   

        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-success w-100">
                    <i class="fas fa-check"></i> Modificar
                </button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-danger w-100" onclick="cancelar()">
                    <i class="fas fa-times"></i> Cancelar
                </button> 
            </div>
        </div>
        
    </form>

</form>

{% endfor %}
{% include 'footer.html' %}



<script>
    function validateForm() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtPassword2").value;

        if (password !== confirmPassword) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Las contraseñas no coinciden.',
            });
            return false; // Evita que se envíe el formulario
        }
        return true; // Permite el envío del formulario si las contraseñas coinciden
    }

    function cancelar() {
        // Función JavaScript opcional para realizar alguna acción al cancelar
        // Por ejemplo, redireccionar a otra página
        window.location.href = "/menu";
    }

    
</script>
