{% include 'header.html' %}

{% for usuario in usuarios %}

    <form class="form-login m-auto" method="post" action="/update_password" enctype="multipart/form-data">

        <!-- Este input oculto contiene el tipo de usuario para que sirva el boton Modificar -->
        <input type="hidden" value="{{current_user.id}}" name="txtID" id="txtID">

        <form class="form-login">

            <h1 class="h3 mb-3 fw-normal text-center">Editar Contraseña</h1>
    

            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Contraseña</label>
                <input id="txtPassword" class="form-control col-8" type="password" name="txtPassword" required>
    
            </div>   
    
            
            <input type="submit" class="btn btn-success w-100" value="Modificar">
            <button class="btn button-login w-100" style="background-color: brown;" onclick="goBack()">Cancelar</button> 
            
            
        </form>




    </form>


{% endfor %}
{% include 'footer.html' %}