{% include 'header.html' %}

        {% if current_user.rol != 'representante' %}

        <form class="form-inline" method="post" action="/buscar_facturas" enctype="multipart/form-data">

        <a href="{{url_for('create_factura') }}" id="boton-ingresar" class="btn btn-success">Crear Factura</a>

        <!-- <input type="text" id="input-buscar" class="form-control ml-auto" name="buscar" placeholder="Buscar facturas..." required>

        <button id="boton-buscar" class="btn btn-info">Buscar</button> -->

        </form>

        {% endif %}


        
            <table id="tabla_facturas" class="table-wrapper-scroll-y my-custom-scrollbar table table-light tablas
            border border-secondary rounded" style="margin:10px;"
            cellspacing="0" >
                <thead class="thead-light">
                    <tr>

                        <th>IDFactura</th>
                        <th>Fecha</th>
                        <th>Monto</th>


                        <th class="w-100">Acciones</th>

                    </tr>
                </thead>
                <tbody>

                    {% for factura in facturas %}

                    
                    <tr>


                        <td>{{factura[0] }}</td>
                        <td>{{factura[2] }}</td>
                        <td>{{factura[3] }}</td>

                        <td>
                            <div class="btn-group col">
                                <a class="btn btn-success" href="#" data-toggle="modal" data-target="#myModal{{factura[0]}}">Ver</a>
                                {% if current_user.rol != 'representante' %}
                                <!-- <a class="btn btn-warning" href="/edit_nino/{{factura[0]}}">Editar</a> -->
                                <a class="btn btn-danger" href="/destroy_factura/{{factura[0]}}" onclick="return confirm('¿Desea borrar el registro?')">Eliminar</a>
                                {% endif %}
                   
                            </div>           
                        </td>

                    </tr>
                    
                    {% endfor %}                
                </tbody>



            </table>

            


            <!-- Codigo para mostrar el modal con los datos del facturas -->

            {% for facturas in facturas %}


            <div class="modal fade" id="myModal{{facturas[0]}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Datos de la Factura</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">

                    <p>ID: {{facturas[0]}}</p>
                    <p>Fecha: {{facturas[2]}}</p>
                    <p>Total a pagar: {{facturas[3]}}</p>
                    

                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="window.open('/ver_factura/{{facturas[0]}}')" class="btn btn-info">Ver PDF</button>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            
            {% endfor %}
        




  



    
        







    
    </div>








{% include 'footer.html' %}