{% include 'header.html' %}
       


        <table id="tabla_rep" class="table-wrapper-scroll-y my-custom-scrollbar table table-light tablas border border-secondary rounded m-auto" style="margin:10px; width:auto;" cellspacing="0">
            <thead class="thead-light">
              {% for hora, dias in tabla_horarios.items() %}
                <tr>
                    <td>{{ hora }}</td>
                    <td>{{ dias.Lunes }}</td>
                    <td>{{ dias.Martes }}</td>
                    <td>{{ dias.Miércoles }}</td>
                    <td>{{ dias.Jueves }}</td>
                    <td>{{ dias.Viernes }}</td>
                </tr>
                {% endfor %}
        </table>
          
          

            



        




  



    
        







    
    </div>









{% include 'footer.html' %}