{% include 'header.html' %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info  " style="margin-top: 10px; margin-right: 5px;">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

<!-- Botón "Volver" en la esquina superior izquierda -->
<div class="container" style="margin-left: -30px;">
  <a href="{{ url_for('menu') }}" class="btn btn-primary">
    <i class="fa fa-arrow-left"></i> Volver
  </a>
</div>

<h1 class="text-center titulo-vista">Secretarias</h1>

<div class="container" style="padding-top: 10px;">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-sm-4 mb-3">
            <a href="{{url_for('create_user') }}" class="btn btn-success btn-block">
              <i class="fa fa-plus"></i> Agregar...
            </a>
        </div>          
      <div class="col-lg-6 col-md-6 col-sm-8 mb-3">
        <div class="input-group">
          <input id="searchInput" type="text" class="form-control" placeholder="Buscar secretarias..." aria-label="Buscar niños..." aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 mb-3">
        <a href="javascript:void(0);" onclick="guardarPDF()" class="btn btn-warning btn-block">
          <i class="fa fa-print" style="margin-right: 5px;"></i> Exportar a PDF
        </a>
      </div>      
    </div>
  </div>
  
<button onclick="Buscar()" style="display: none;" class="btn btn-info">Buscar</button>

<div id="myTable" class="table-responsive">
  <table id="tabla_usuarios" class="table table-light table-bordered border-secondary rounded" cellspacing="0">
    <thead class="thead-light text-center">
      <tr>
        <th><input type="checkbox" id="selectAll" style="display: none;"></th>
        <th id="nombre" onclick="sortTable(1)" class="sortable">Cédula</th>
        <th id="nombre" onclick="sortTable(2)" class="sortable">Nombre</th>
        <th id="apellido" onclick="sortTable(2)" class="sortable">Apellido</th>
        <th id="edad" onclick="sortTable(1)" class="sortable">Teléfono</th>
        <!-- <th id="escolaridad" onclick="sortTable(4)" class="sortable">Escolaridad</th> -->
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
        <tr class="text-center">
          <td><input type="checkbox" class="rowCheckbox" value="{{ usuario[0] }}"></td>
          <td>{{ usuario[2]}}</td>
          <td>{{ usuario[3]}}</td>
          <td>{{ usuario[4]}}</td>
          <td>{{ usuario[8]}}</td>
          <td>
            <div class="btn-group">
              <a class="btn btn-success" href="#" data-toggle="modal" data-target="#myModal{{ usuario[0] }}" style="border-radius: 10px; margin-right: 5px;">
                <i class="fa fa-eye"></i>
              </a>
              <a class="btn btn-warning" href="/edit_user/{{ usuario[0] }}" style="border-radius: 10px; margin-right: 5px;">
                <i class="fa fa-edit"></i>
              </a>

              <a class="btn btn-danger" href="javascript:void(0);" onclick="eliminar_usuario('{{ usuario[0] }}')" style="border-radius: 10px; margin-right: 5px;">
                <i class="fa fa-trash"></i>
              </a>
            </div>
            
            
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<button id="deleteSelected" class="btn btn-danger" style="display: none; width: 30%; margin-left:5%; margin-top: 1%">Eliminar Seleccionados</button>


            <!-- Codigo para mostrar el modal con los datos del usuario -->

            {% for usuario in usuarios %}


            <div class="modal fade" id="myModal{{usuario[0]}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Datos del usuario</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <p>Cédula: {{usuario[2]}}</p>
                    <p>Nombre: {{usuario[3]}}</p>
                    <p>Apellido: {{usuario[4]}}</p>
                    <p>Dirección: {{usuario[5]}}</p>
                    <!-- <p>Ocupación: {{usuario[5]}}</p> -->
                    <p>Correo: {{usuario[6]}}</p>
                    <!-- <p>Empresa: {{usuario[7]}}</p> -->
                    <p>Telefono: {{usuario[8]}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            
            {% endfor %}
        




  



    
        







    
    </div>








{% include 'footer.html' %}

<script>

function sortTable(n) {
    const table = document.getElementById("tabla_usuarios");
    let rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    switching = true;
    dir = "asc"; 
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        if (dir == "asc") {
          if (!isNaN(parseFloat(x.innerHTML)) && !isNaN(parseFloat(y.innerHTML))) {
            if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
              shouldSwitch = true;
              break;
            }
          } else if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (!isNaN(parseFloat(x.innerHTML)) && !isNaN(parseFloat(y.innerHTML))) {
            if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
              shouldSwitch = true;
              break;
            }
          } else if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount++;
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }

  function Buscar() {
    // Obtener los valores del input de búsqueda y los inputs de fecha
    var input = document.getElementById("searchInput");
    var filter = input.value.toUpperCase();
    var table = document.getElementById("tabla_usuarios");
    var tr = table.getElementsByTagName("tr");

    // Recorrer todas las filas de la tabla y ocultar aquellas que no coincidan con la búsqueda o el rango de fechas
    for (var i = 1; i < tr.length; i++) {
        var tdArray = tr[i].getElementsByTagName("td");
        var match = false;

        // Verificar si la fila coincide con el filtro de búsqueda
        for (var j = 0; j < tdArray.length; j++) {
            var td = tdArray[j];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    match = true;
                    break;
                }
            }
        }

        // Mostrar la fila si coincide con el filtro de búsqueda y el rango de fechas
        if (match) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
    }
  }

  // Agregar el evento change al input de búsqueda
  document.getElementById("searchInput").addEventListener("input", Buscar);


  document.addEventListener('DOMContentLoaded', function() {
    const selectAllCheckbox = document.getElementById('selectAll');
    let rowCheckboxes = document.querySelectorAll('.rowCheckbox');
    const deleteButton = document.getElementById('deleteSelected');
    const sendButton = document.getElementById('sendSelected');
    const undoButton = document.getElementById('undoButton');
    const countdown = document.getElementById('countdown');
    let countdownInterval;

    function updateDeleteButtonVisibility() {
      const anyChecked = Array.from(rowCheckboxes).some(checkbox => checkbox.checked);
      deleteButton.style.display = anyChecked ? 'block' : 'none';
    }

    selectAllCheckbox.addEventListener('change', function() {
      rowCheckboxes.forEach(checkbox => {
        checkbox.checked = selectAllCheckbox.checked;
      });
      updateDeleteButtonVisibility();
    });

    rowCheckboxes.forEach(checkbox => {
      checkbox.addEventListener('change', function() {
        updateDeleteButtonVisibility();
      });
    });

    deleteButton.addEventListener('click', function() {
    const checkboxes = document.querySelectorAll('.rowCheckbox:checked');
    const ids = Array.from(checkboxes).map(checkbox => checkbox.value);

    if (ids.length === 0) {
      Swal.fire({
        title: 'Atención',
        text: 'Por favor, seleccione al menos una fila para eliminar.',
        icon: 'warning',
        confirmButtonColor: '#3085d6',
      });
      return;
    }

    Swal.fire({
      title: '¡ATENCIÓN!',
      text: '¿Está seguro de que desea eliminar los representantes seleccionados?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Sí, eliminar',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        fetch('/eliminar_usuarios', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ ids: ids })
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Error al eliminar las filas seleccionadas.');
          }
          return response.json();
        })
        .then(data => {
          if (data.success) {
            checkboxes.forEach(checkbox => {
              const row = checkbox.closest('tr');
              row.remove();
            });

            rowCheckboxes = document.querySelectorAll('.rowCheckbox');
            updateDeleteButtonVisibility();

            Swal.fire({
              title: 'Eliminado',
              text: 'Los niños seleccionados han sido eliminados exitosamente.',
              icon: 'success',
              confirmButtonColor: '#3085d6',
            });

          } else {
            Swal.fire({
              title: 'Error',
              text: 'Error al eliminar las filas seleccionadas.',
              icon: 'error',
              confirmButtonColor: '#3085d6',
            });
          }
        })
        .catch(error => {
          console.error('Error:', error);
          Swal.fire({
            title: 'Error',
            text: 'Error al eliminar las filas seleccionadas.',
            icon: 'error',
            confirmButtonColor: '#3085d6',
          });
        });
      }
    });
  });

    //Alerta de eliminación de niño
    window.eliminar_usuario = function(id) {
    Swal.fire({
      title: '¡ATENCIÓN!',
      text: '¿Está seguro de que desea eliminar al usuario?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Sí, eliminar',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        fetch('/eliminar_usuarios', {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ ids: [id] })
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Error al eliminar el niño.');
          }
          return response.json();
        })
        .then(data => {
          if (data.success) {
            const row = document.querySelector(`.rowCheckbox[value="${id}"]`).closest('tr');
            row.remove();

            rowCheckboxes = document.querySelectorAll('.rowCheckbox');
            updateDeleteButtonVisibility();

            Swal.fire({
              title: 'Eliminado',
              text: 'El niño ha sido eliminado exitosamente.',
              icon: 'success',
              confirmButtonColor: '#3085d6',
            });

          } else {
            Swal.fire({
              title: 'Error',
              text: 'Error al eliminar el niño.',
              icon: 'error',
              confirmButtonColor: '#3085d6',
            });
          }
        })
        .catch(error => {
          console.error('Error:', error);
          Swal.fire({
            title: 'Error',
            text: 'Error al eliminar el niño.',
            icon: 'error',
            confirmButtonColor: '#3085d6',
          });
        });
      }
    });
  };
   
  });



    function guardarPDF() {
        fetch('/secretarias_pdf', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({})
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.blob();
        })
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            window.open(url, '_blank');
        })
        .catch(error => console.error('Error:', error));
    }




</script>