{% include 'header.html' %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

<div class="row">
  <section class="m-auto">
    <div class="main">
      <h2 style="color: #404040;" class="text-center">
        ¡Bienvenido, {{current_user.nombre}}!
      </h2>
      {% if current_user.rol == 'director' %}
        <a class="boton banner" href="/entregas">
          GESTIÓN DE BOMBAS
        </a>

        <!-- <div class="dropdown">
          <a class="boton banner" href="/ferreteria/inventario">
            GESTIÓN DEL GALPÓN
          </a>
        </div> -->

        <div class="dropdown">
          <a class="boton banner" href="/oficina/inventario">
            GESTIÓN DE OFICINA
          </a>
        </div>

        <a class="boton banner" href="/medicinas/inventario">
          GESTIÓN DE MEDICINAS
        </a>

      {% endif %}
    </div>
  </section>
</div>

<!--CONTENT START!-->

<!--FOOTER START!-->
{% include 'footer.html' %}
<!--FOOTER END!-->

<style>
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
