    </div>
    <footer>

     © 2025 Departamento de Compras de la Gobernación Bolivariana del Estado Monagas

    </footer>

<!-- Codigo para que los Modales funcionen -->
    <script src="{{ url_for('static', filename='jquery/jquery-3.3.1.min.js') }}"></script> 	
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
    <!-- // Sweet Alert para crear las alertas -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
     		


</body>
</html>